<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GUI tests" parallel="tests" thread-count="5" verbose="2" preserve-order="true">
    <test name="Spyne AI Image">
        <classes>
            <class name="org.spyneai.auto.spyneai_assignment.MainPageTest"/>
        </classes>
    </test>
</suite>
